USE [master]
GO
/****** Object:  Database [VENTAS2017]    Script Date: 15/04/2026 19:22:48 ******/
CREATE DATABASE [VENTAS2017] ON  PRIMARY 
( NAME = N'VENTAS2017', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\VENTAS2017.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VENTAS2017_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\VENTAS2017_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VENTAS2017].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VENTAS2017]
GO
/****** Object:  Table [dbo].[BOLETA]    Script Date: 15/04/2026 19:22:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOLETA](
	[NUM_BOLETA] [char](8) NOT NULL,
	[FECHA_EMI] [date] NOT NULL,
	[ID_CLIENTE] [char](6) NOT NULL,
	[COD_EMPLE] [char](5) NOT NULL,
	[ESTADO_BOLETA] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NUM_BOLETA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARGOS]    Script Date: 15/04/2026 19:22:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARGOS](
	[COD_CARGO] [char](3) NOT NULL,
	[NOMBRE_CARGO] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_CARGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 15/04/2026 19:22:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[COD_CATE] [char](3) NOT NULL,
	[NOMBRE] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_CATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 15/04/2026 19:22:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [char](6) NOT NULL,
	[NOMBRES] [varchar](25) NOT NULL,
	[APELLIDOS] [varchar](25) NOT NULL,
	[DIRECCION] [varchar](60) NULL,
	[FONO] [char](9) NULL,
	[ID_DISTRITO] [char](4) NOT NULL,
	[EMAIL] [varchar](35) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_BOLETA]    Script Date: 15/04/2026 19:22:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_BOLETA](
	[NUM_BOLETA] [char](8) NOT NULL,
	[ID_PRODUCTO] [char](6) NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[IMPORTE] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NUM_BOLETA] ASC,
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISTRITOS]    Script Date: 15/04/2026 19:22:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRITOS](
	[ID_DISTRITO] [char](4) NOT NULL,
	[NOMBRE_DISTRITO] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DISTRITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 15/04/2026 19:22:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[COD_EMPLE] [char](5) NOT NULL,
	[NOMBRES] [varchar](25) NOT NULL,
	[APELLIDOS] [varchar](25) NOT NULL,
	[DNI_EMPLE] [char](8) NOT NULL,
	[DIRECCION] [varchar](60) NOT NULL,
	[ESTADO_CIVIL] [char](1) NOT NULL,
	[NIVEL_EDUCA] [varchar](30) NOT NULL,
	[TELEFONO] [varchar](12) NOT NULL,
	[EMAIL] [varchar](35) NOT NULL,
	[SUELDO_BASICO] [money] NOT NULL,
	[FECHA_INGRESO] [date] NOT NULL,
	[ID_DISTRITO] [char](4) NOT NULL,
	[COD_CARGO] [char](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_EMPLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 15/04/2026 19:22:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID_PRODUCTO] [char](6) NOT NULL,
	[DESCRIPCION] [varchar](45) NOT NULL,
	[PRECIO_VENTA] [money] NOT NULL,
	[STOCK_MINIMO] [int] NULL,
	[STOCK_ACTUAL] [int] NULL,
	[FECHA_VENC] [date] NULL,
	[COD_CATE] [char](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BOLETA] ([NUM_BOLETA], [FECHA_EMI], [ID_CLIENTE], [COD_EMPLE], [ESTADO_BOLETA]) VALUES (N'10000001', CAST(N'2017-05-01' AS Date), N'CLI002', N'E0002', N'AC')
INSERT [dbo].[BOLETA] ([NUM_BOLETA], [FECHA_EMI], [ID_CLIENTE], [COD_EMPLE], [ESTADO_BOLETA]) VALUES (N'10000002', CAST(N'2017-04-15' AS Date), N'CLI002', N'E0005', N'AC')
INSERT [dbo].[BOLETA] ([NUM_BOLETA], [FECHA_EMI], [ID_CLIENTE], [COD_EMPLE], [ESTADO_BOLETA]) VALUES (N'10000003', CAST(N'2016-02-03' AS Date), N'CLI001', N'E0002', N'AC')
GO
INSERT [dbo].[CARGOS] ([COD_CARGO], [NOMBRE_CARGO]) VALUES (N'C01', N'GERENTE')
INSERT [dbo].[CARGOS] ([COD_CARGO], [NOMBRE_CARGO]) VALUES (N'C02', N'ADMINISTRADOR(A)')
INSERT [dbo].[CARGOS] ([COD_CARGO], [NOMBRE_CARGO]) VALUES (N'C03', N'VENDEDOR(A)')
GO
INSERT [dbo].[CATEGORIAS] ([COD_CATE], [NOMBRE]) VALUES (N'C01', N'ABARROTES')
INSERT [dbo].[CATEGORIAS] ([COD_CATE], [NOMBRE]) VALUES (N'C02', N'LACTEOS')
INSERT [dbo].[CATEGORIAS] ([COD_CATE], [NOMBRE]) VALUES (N'C03', N'FRUTAS')
GO
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NOMBRES], [APELLIDOS], [DIRECCION], [FONO], [ID_DISTRITO], [EMAIL]) VALUES (N'CLI001', N'ANETH LUANA', N'TINEO URIBE', N'AV. LOS GIRASOLES # 1800', N'990990230', N'D006', N'LUANITAHERMOSA@GMAIL.COM')
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NOMBRES], [APELLIDOS], [DIRECCION], [FONO], [ID_DISTRITO], [EMAIL]) VALUES (N'CLI002', N'JOSE LUIS', N'TARAZONA ZELA', N'AV. LAS FLORES # 1800', NULL, N'D006', N'JOSESITO@GMAIL.COM')
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NOMBRES], [APELLIDOS], [DIRECCION], [FONO], [ID_DISTRITO], [EMAIL]) VALUES (N'CLI003', N'ANA MARIA', N'VILLAVICENCIO CASTRO', N'AV. LAS FLORES # 2560', N'989434228', N'D005', N'ANITAMARIA@GMAIL.COM')
GO
INSERT [dbo].[DETALLE_BOLETA] ([NUM_BOLETA], [ID_PRODUCTO], [CANTIDAD], [IMPORTE]) VALUES (N'10000001', N'PRO002', 3, 300.0000)
INSERT [dbo].[DETALLE_BOLETA] ([NUM_BOLETA], [ID_PRODUCTO], [CANTIDAD], [IMPORTE]) VALUES (N'10000001', N'PRO010', 2, 290.0000)
INSERT [dbo].[DETALLE_BOLETA] ([NUM_BOLETA], [ID_PRODUCTO], [CANTIDAD], [IMPORTE]) VALUES (N'10000002', N'PRO002', 2, 200.0000)
GO
INSERT [dbo].[DISTRITOS] ([ID_DISTRITO], [NOMBRE_DISTRITO]) VALUES (N'D010', N'ANCÓN')
INSERT [dbo].[DISTRITOS] ([ID_DISTRITO], [NOMBRE_DISTRITO]) VALUES (N'D003', N'CERCADO')
INSERT [dbo].[DISTRITOS] ([ID_DISTRITO], [NOMBRE_DISTRITO]) VALUES (N'D001', N'COMAS')
GO
INSERT [dbo].[EMPLEADO] ([COD_EMPLE], [NOMBRES], [APELLIDOS], [DNI_EMPLE], [DIRECCION], [ESTADO_CIVIL], [NIVEL_EDUCA], [TELEFONO], [EMAIL], [SUELDO_BASICO], [FECHA_INGRESO], [ID_DISTRITO], [COD_CARGO]) VALUES (N'E0001', N'BRENDA', N'QUISPE RAMOS', N'40138140', N'JR. PACHITEA # 140', N'C', N'SUPERIOR', N'990387487', N'BRENDITA@GMAIL.COM', 6000.0000, CAST(N'2014-03-02' AS Date), N'D005', N'C02')
INSERT [dbo].[EMPLEADO] ([COD_EMPLE], [NOMBRES], [APELLIDOS], [DNI_EMPLE], [DIRECCION], [ESTADO_CIVIL], [NIVEL_EDUCA], [TELEFONO], [EMAIL], [SUELDO_BASICO], [FECHA_INGRESO], [ID_DISTRITO], [COD_CARGO]) VALUES (N'E0002', N'ANGELICA', N'ANDRADE CERNA', N'40138356', N'JR. MANUEL PRADO # 250', N'C', N'SECUNDARIA', N'970315487', N'ANDRADECERNA@GMAIL.COM', 1500.0000, CAST(N'2014-06-05' AS Date), N'D005', N'C03')
INSERT [dbo].[EMPLEADO] ([COD_EMPLE], [NOMBRES], [APELLIDOS], [DNI_EMPLE], [DIRECCION], [ESTADO_CIVIL], [NIVEL_EDUCA], [TELEFONO], [EMAIL], [SUELDO_BASICO], [FECHA_INGRESO], [ID_DISTRITO], [COD_CARGO]) VALUES (N'E0003', N'ROSAURA', N'TARAZONA RIVAS', N'40457140', N'JR. LOS ROSALES # 350', N'S', N'SECUNDARIA', N'993315487', N'TARANOZARIVAS@GMAIL.COM', 1500.0000, CAST(N'2014-08-05' AS Date), N'D002', N'C03')
GO
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [DESCRIPCION], [PRECIO_VENTA], [STOCK_MINIMO], [STOCK_ACTUAL], [FECHA_VENC], [COD_CATE]) VALUES (N'PRO001', N'ARROZ COSTEÑO X 50 - SACO', 160.0000, 5, 200, CAST(N'2018-03-04' AS Date), N'C01')
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [DESCRIPCION], [PRECIO_VENTA], [STOCK_MINIMO], [STOCK_ACTUAL], [FECHA_VENC], [COD_CATE]) VALUES (N'PRO002', N'AZUCAR RUBIA X 50 - SACO', 100.0000, 2, 80, CAST(N'2018-05-05' AS Date), N'C01')
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [DESCRIPCION], [PRECIO_VENTA], [STOCK_MINIMO], [STOCK_ACTUAL], [FECHA_VENC], [COD_CATE]) VALUES (N'PRO003', N'FIDEOS ANITA X 12 - BOLSA', 30.0000, 3, 150, CAST(N'2018-10-08' AS Date), N'C01')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_NOMBRE_DIST]    Script Date: 15/04/2026 19:22:49 ******/
ALTER TABLE [dbo].[DISTRITOS] ADD  CONSTRAINT [UQ_NOMBRE_DIST] UNIQUE NONCLUSTERED 
(
	[NOMBRE_DISTRITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_DIRECCION]    Script Date: 15/04/2026 19:22:49 ******/
ALTER TABLE [dbo].[EMPLEADO] ADD  CONSTRAINT [UQ_DIRECCION] UNIQUE NONCLUSTERED 
(
	[DIRECCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_DNIEMPLE]    Script Date: 15/04/2026 19:22:49 ******/
ALTER TABLE [dbo].[EMPLEADO] ADD  CONSTRAINT [UQ_DNIEMPLE] UNIQUE NONCLUSTERED 
(
	[DNI_EMPLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_DESCRIPCION_PROD]    Script Date: 15/04/2026 19:22:49 ******/
ALTER TABLE [dbo].[PRODUCTO] ADD  CONSTRAINT [UQ_DESCRIPCION_PROD] UNIQUE NONCLUSTERED 
(
	[DESCRIPCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOLETA] ADD  CONSTRAINT [DF_ESTADO]  DEFAULT ('AC') FOR [ESTADO_BOLETA]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_TELEFONO]  DEFAULT ('000000000') FOR [FONO]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_EMAIL]  DEFAULT ('NO REGISTRA') FOR [EMAIL]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  CONSTRAINT [DF_STOCKMIN]  DEFAULT ((0)) FOR [STOCK_MINIMO]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  CONSTRAINT [DF_STOCKACT]  DEFAULT ((0)) FOR [STOCK_ACTUAL]
GO
ALTER TABLE [dbo].[BOLETA]  WITH CHECK ADD FOREIGN KEY([COD_EMPLE])
REFERENCES [dbo].[EMPLEADO] ([COD_EMPLE])
GO
ALTER TABLE [dbo].[BOLETA]  WITH CHECK ADD FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD FOREIGN KEY([ID_DISTRITO])
REFERENCES [dbo].[DISTRITOS] ([ID_DISTRITO])
GO
ALTER TABLE [dbo].[DETALLE_BOLETA]  WITH CHECK ADD FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[DETALLE_BOLETA]  WITH CHECK ADD FOREIGN KEY([NUM_BOLETA])
REFERENCES [dbo].[BOLETA] ([NUM_BOLETA])
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD FOREIGN KEY([COD_CARGO])
REFERENCES [dbo].[CARGOS] ([COD_CARGO])
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD FOREIGN KEY([ID_DISTRITO])
REFERENCES [dbo].[DISTRITOS] ([ID_DISTRITO])
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD FOREIGN KEY([COD_CATE])
REFERENCES [dbo].[CATEGORIAS] ([COD_CATE])
GO
ALTER TABLE [dbo].[BOLETA]  WITH CHECK ADD  CONSTRAINT [CHK_ESTADO] CHECK  (([ESTADO_BOLETA]='AN' OR [ESTADO_BOLETA]='AC'))
GO
ALTER TABLE [dbo].[BOLETA] CHECK CONSTRAINT [CHK_ESTADO]
GO
ALTER TABLE [dbo].[CATEGORIAS]  WITH CHECK ADD  CONSTRAINT [CHK_CODCATE] CHECK  (([COD_CATE] like 'C[0-9][0-9]'))
GO
ALTER TABLE [dbo].[CATEGORIAS] CHECK CONSTRAINT [CHK_CODCATE]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [CHK_CODEMPLE] CHECK  (([COD_EMPLE] like 'E[0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [CHK_CODEMPLE]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [CK_ESTADOCIVIL] CHECK  (([ESTADO_CIVIL]='T' OR [ESTADO_CIVIL]='D' OR [ESTADO_CIVIL]='V' OR [ESTADO_CIVIL]='C' OR [ESTADO_CIVIL]='S'))
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [CK_ESTADOCIVIL]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [CK_NIVELEDUCA] CHECK  (([NIVEL_EDUCA]='UNIVERSITARIO' OR [NIVEL_EDUCA]='SUPERIOR' OR [NIVEL_EDUCA]='SECUNDARIA' OR [NIVEL_EDUCA]='PRIMARIA'))
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [CK_NIVELEDUCA]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [CKSUELDO] CHECK  (([SUELDO_BASICO]>=(850.00)))
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [CKSUELDO]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [CHK_PRECIOVENTA] CHECK  (([PRECIO_VENTA]>(0)))
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [CHK_PRECIOVENTA]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Número de Boleta 000-0000' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOLETA', @level2type=N'COLUMN',@level2name=N'NUM_BOLETA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de Emisión Cajero' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOLETA', @level2type=N'COLUMN',@level2name=N'FECHA_EMI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Id CLiente' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOLETA', @level2type=N'COLUMN',@level2name=N'ID_CLIENTE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código Empleado' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOLETA', @level2type=N'COLUMN',@level2name=N'COD_EMPLE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Estado 0 desactivado y 1 activado' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BOLETA', @level2type=N'COLUMN',@level2name=N'ESTADO_BOLETA'
GO
USE [master]
GO
