USE [master]
GO

CREATE DATABASE [DB_NEGOCIOS]

USE [DB_NEGOCIOS]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](70) NOT NULL,
	[uMedida] [varchar](50) NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[stock] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[producto] ON 

INSERT [dbo].[producto] ([idProducto], [descripcion], [uMedida], [precio], [stock]) VALUES (1, N'Laptop Lenovo c/negro i3 Gen 2', N'Unidad', CAST(1200.00 AS Decimal(10, 2)), 5)
INSERT [dbo].[producto] ([idProducto], [descripcion], [uMedida], [precio], [stock]) VALUES (2, N'Pc HP AllInOne I7 Gen 2', N'Unidad', CAST(2500.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[producto] ([idProducto], [descripcion], [uMedida], [precio], [stock]) VALUES (3, N'Laptop Lenovo ThinkPad E14 Gen 5', N'Unidad', CAST(4200.00 AS Decimal(10, 2)), 12)
SET IDENTITY_INSERT [dbo].[producto] OFF
GO
