USE [DB_NEGOCIOS]
GO

CREATE PROCEDURE [dbo].[usp_actualizar_producto]
    @idproducto INT,
    @descripcion VARCHAR(100),
    @umedida VARCHAR(50),
    @precio DECIMAL(10,2),
    @stock INT
AS
BEGIN
    UPDATE PRODUCTO
    SET
        descripcion = @descripcion,
        umedida = @umedida,
        precio = @precio,
        stock = @stock
    WHERE idproducto = @idproducto
END
GO

CREATE PROCEDURE [dbo].[usp_eliminar_producto]
    @idproducto INT    
AS
BEGIN
    DELETE PRODUCTO    
    WHERE idproducto = @idproducto
END
