USE [DB_NEGOCIOS]
GO

CREATE PROCEDURE [dbo].[usp_productos]
AS
BEGIN	
	SET NOCOUNT ON;

    SELECT p.idProducto, p.descripcion, p.uMedida, p.precio, p.stock  
	FROM producto p
END
GO

CREATE PROCEDURE [dbo].[usp_productos_filtrar]
	@descripcion varchar(60)
AS
BEGIN	
	SET NOCOUNT ON;

    SELECT p.idProducto, p.descripcion, p.uMedida, p.precio, p.stock  
	FROM producto p
	WHERE p.descripcion LIKE '%' + @descripcion + '%'
END
GO

CREATE PROCEDURE [dbo].[usp_insertar_producto]
    @descripcion VARCHAR(100),
    @umedida VARCHAR(50),
    @precio DECIMAL(10,2),
    @stock INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT producto (descripcion, uMedida, precio, stock)
    VALUES (@descripcion, @umedida, @precio, @stock);
END
GO

ALTER PROCEDURE [dbo].[usp_buscar_producto]
    @idproducto INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT idproducto, descripcion, uMedida, precio, stock
    FROM producto
    WHERE idproducto = @idproducto
END



