@{
    ViewBag.Title = "Bienvenido";
}

<div class="welcome-container">
    <img src="~/images/bienvenido.png" height="" width="" alt="Cibertec" class="welcome-image" />

    <h1>¡Bienvenido a la Web Cibertec!</h1>

    <p>
        Nos alegra tenerte aquí. Explora nuestros servicios,
        cursos y recursos tecnológicos.
    </p>

    <a href="#" class="btn-welcome">
        Más Información
    </a>
</div>
